.sam{
  /* background-color:rgb(84, 194, 249); */
  /* background: linear-gradient(#f69d3c,#3f87a6); */

  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

